<!doctype html>
<html>
<head>
    <title>Barista App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg">
  <section class="indexContain">

      <section class="jumbotron text-center">
        <h1>Poop Brew Coffee</h1>

        <img src="https://media3.giphy.com/media/687qS11pXwjCM/giphy.gif" alt="meme fiends site gif">
        <section>

        <h2>Add an Order</h2>

        <form action="/orders" method="post">
          <input type="text" placeholder="Customer name" name="name" >
          <input type="text" placeholder="Customer order" name="order" >
          <button type="submit">Submit</button>
        </form>
      </section>

        <p> Login or Signup:</p>

          <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span>Login</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

      </section>

  </section>
</body>
</html>
